#left-container.one-third 
  - @category.each do |cat|
    .row.content
      %h2
        = cat.name
      %p
        = cat.description
      .gallery-thumbs
        - cat.gallery_images.each do |img|
          %img{ src: "#{img.image.thumb.url}", data: (img.id) }

      
#right-container.gallery
  %img{ src: "#{@image.image.url}" }

