#content
  .row.margin-bottom-large
    %h2
      Commentaries

    %table.margin-bottom
      %tr 
        %th
          Title
        %th
          Date  
        %th
          Description
      - @posts.each do |p|
        %tr
          %td
            %a{ href: "/admin/commentaries/#{p.id}/edit"}
              = p.title
          %td
            = pretty_date(p.created_at)
          %td
            = truncate(p.content)

    %a.btn{ href: "/admin/commentaries/new"}
      Add new commentary
