#content
  .row
    %h2
      Admin home

    .sml-gray-box
      %a{ href: "/admin/gallery" }
        %img.margin-bottom{src: "/images/icons/gallery.png"}
      %br
      %a{ href: "/admin/gallery" }
        Manage Gallery

    .sml-gray-box
      %a{ href: "/admin/bio" }
        %img.margin-bottom{src: "/images/icons/about.png"}
      %br
      %a{ href: "/admin/bio" }
        Manage Biography Page

    .sml-gray-box
      %a{ href: "/admin/commentaries" }
        %img.margin-bottom{src: "/images/icons/commentary.png"}
      %br
      %a{ href: "/admin/commentaries" }
        Manage Commentaries
