%nav.admin-nav
  Logged in as admin
  %ul
    %a{ href: "/admin/dashboard" }
      %li
        Dashboard
    %a{ href: "/admin/bio" }
      %li
        Biography
    %a{ href: "/admin/commentaries" }
      %li
        Commentaries
    %a{ href: "/admin/gallery" }
      %li
        Gallery
    %a{ href: "/logout" } 
      %li
        Logout

