.row
  %h1
    Linda R. James
  %nav.main-nav
    %ul
      %a{ href: "/bio" }
        %li.about-icon
          %span.hide
            biography
      %a{ href: "/gallery" }
        %li.gallery-icon
          %span.hide
            gallery
      %a{ href: "/commentary" }
        %li.comment-icon
          %span.hide
            commentary
      %a{ href: "/contact" } 
        %li.contact-icon
          %span.hide
            contact

:javascript
$(document).ready(function(){
  $("nav li").hover(function(){
    $(this).children().toggle();
  }, function(){
    $(this).children().toggle();
  });
});