#content
  %ul
  - @gallery.each do |i|
    %li
      = i.title
    %li
      %img{ src: (i.image.thumb.url), alt: "Linda R James - #{i.title}" }
    %li
      = i.description
    %li
      %form{ action: "/admin/gallery/#{i.id}", method: "post" }
        %input{ type: "hidden", name: "_method", value: "delete" }
        %input{ type: "submit", value: "Delete Image" }
  %a{ href: "/admin/gallery/new" }  
    add images