#content
  .row 
    = haml :"shared/_errors", locals: {obj: @image}

    %h2
      New Image

    %form{ action: "/admin/gallery", method: "post", enctype: "multipart/form-data"}
      = haml :"admin/gallery/_form"
      %input.btn{ type: "submit", value: "Save Images"}