!!! 5
%html
  %head
    %title= title 
    %link{ rel: 'stylesheet', href: '/stylesheets/style.css' }
    %script{ type: "text/javascript", src: "//use.typekit.net/kyk5hkj.js" }
    :javascript
      try{Typekit.load();}catch(e){}
    %link{ rel: "shortcut icon", href: "/favicon.ico", type: "image/x-icon" }
    %link{ rel: "icon", href: "/favicon.ico", type: "image/x-icon" }
    %script{ src: 'http://code.jquery.com/jquery-latest.min.js' }
  %body
    = yield
