body {
  background: white;
}

.hide {
  display: none;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.pad-bottom {
  padding-bottom: $padding;
}

.pad-top {
  padding-top: $padding;
}

.pad-right {
  padding-right: $padding;
}

.pad-left {
  padding-left: $padding;
}

.pad-all {
  padding: $padding;
}

.margin-bottom {
  margin-bottom: $margin;
}

.margin-top {
  margin-top: $margin;
}

.margin-right {
  margin-right: $margin;
}

.margin-left {
  margin-left: $margin;
}

.margin-all {
  margin: $margin;
}

.margin-bottom-large {
  margin-bottom: $margin * 4;
} 

.margin-top-large {
  margin-top: $margin * 4;
} 