#content {
  width: 100%;
  background: white;
  padding: 20px;
  min-height: 300px;
}

.row {
  @include outer-container;
  padding: 25px;

  .sml-gray-box {
    @include span-columns(4);
    @include roundcorners;
    text-align: center;
    background: $light-gray;
    padding: 20px;

    img {
      height: 35px;
    }
  }

  &.content {
    margin-top: 155px;
    max-width: 500px;
  }
}

.half-container {
  @include span-columns(6);
  margin-right: 0;

  img {
    width: 100%;
  }
}

#left-container {
  @include span-columns(6);
  @include omega;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: white;
}

#right-container {
  @extend #left-container;
  margin-left: 50%;
}

.third-box {
  height: 33%;
  width: 100%;
  min-height: 200px;
  min-width: 440px;
}

.half-box {
  height: 50%;
  width: 100%;
  min-height: 200px;
  background: black;
  border: 1px solid white;
}

.doc-container {
  background: $gray;
  @include roundcorners;
  padding: 15px;
  overflow: hidden;

  img {
    float: left;
  }

  p {
    margin-left: 67px;
    color: black;
  }

  h3 {
    margin: 0 0 2px 67px;
  }
}



