a {
  text-decoration: none;
  color: $primary
}

.btn {
  color: white;
  border: none;
  font-size: .85em;
  font-weight: bold;
  padding: 7px 15px;
  background: $primary;
  @include roundcorners(5px);
  display: inline-block;
}