a {
  text-decoration: none;
  color: $primary
}

.btn {
  color: white;
  border: none;
  font-weight: bold;
  padding: 5px 15px;
  background: $primary;
  @include roundcorners;
  display: inline-block;
}