$primary: red;
$light-gray: rgb(240, 240, 240);
$gray: rgb(220, 220, 220);

$padding: 15px;
$margin: 15px;

@mixin nav-background($y: top, $x: top){
  background-image: url("/images/icons/nav-sprite.png");
  background-position: $y $x;
  background-repeat: no-repeat;
  background-size: 155%;

  &:hover, &.selected {
    background-position: ($y - 63) $x;
  }
}

@mixin inner-shadow {
  -moz-box-shadow:    inset 0 0 10px rgba(200, 200, 200, 0.7);
  -webkit-box-shadow: inset 0 0 10px rgba(200, 200, 200, 0.7);
  box-shadow:         inset 0 0 10px rgba(200, 200, 200, 0.7);
}

@mixin roundcorners($amnt: 10px){
  -webkit-border-radius: $amnt;
  -moz-border-radius: $amnt;
  border-radius: $amnt;
}

@mixin list-icon($image){
  padding-left: 25px;
  background: url("/images/icons/" + $image + "") no-repeat left center;
  background-size: 17px;
}