#nav-container {
  padding: 20px 0 20px 20px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
  border-bottom: 1px solid $light-gray;
}

#main-nav {
  color: $primary;

  h1 {
    font-size: 2em;
    display: inline-block;
    margin-top: 12px;
    font-weight: bolder;
  }

  a {
    color: $primary;
  }

  ul {
    float: right;
    text-align: center;
    border-left: 1px solid $primary;
    display: inline-block;
    margin-right: 10px;
    padding-left: 10px;
  }

  li {
    width: 65px;
    height: 45px;
    float: left;
    line-height: 6.5em;
    cursor: pointer;
  }
}

.admin-nav {
  background: black;
  display: inline-block;
  width: 100%;
  color: white;
  padding: 20px;

  h2 {
    color: white;
    float: left;
    margin-bottom: 0;
  }

  ul {
    float: right;
  }

  li {
    margin-left: 20px;
    float: left;
  }

  a {
    color: white;

    &:hover {
      color: $primary;
    }
  }
}

.about-icon {
  @include nav-background(20px, 5px)
}

.comment-icon {
  @include nav-background(21px, -95px)
}

.gallery-icon {
  @include nav-background(21px, -145px)
}

.contact-icon {
  @include nav-background(20px, -45px)
}