body {
  color: black;
  font-size: 12px;
  font-family: "adelle", times, serif;
  line-height: 1.5em;
  font-weight: 100;
}

h1 {
  font-size: 3em;
  color: black;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: $margin;
}

h3 {
  @extend h2;
  font-weight: bold;
  font-size: 1.2em;
}