body {
  color: black;
  font-size: 16px;
  font-family: 'Fanwood Text', times, serif;
  line-height: 1.5em;
}

h1 {
  font-family: 'Playfair Display SC', times, serif;
  font-size: 3em;
  color: $primary;
  text-shadow: 2px 2px 0px black;
}