body {
  color: black;
  font-size: 16px;
  font-family: 'Fanwood Text', times, serif;
  line-height: 1.5em;
}

h1 {
  font-family: 'Playfair Display SC', times, serif;
  font-size: 2em;
  color: $primary;
  text-shadow: 1px 1px 0px black;
}

h2 {
  font-family: 'Playfair Display SC', times, serif;
  font-size: 1.5em;
  color: black;
  margin-bottom: $margin
}

h3 {
  @extend h2;
  font-size: 1em;
}