.half-box.img-bg{ style: "background-image: url(#{obj.image.url})"}
  .img-desc.hide
    .desc-container
      %h2
        = obj.title
      %p
        = obj.description
      %a{ href: "/gallery"}
        See Gallery
