#content
  .row.margin-bottom-large
    %h2
      Biography Documents

    %table.margin-bottom
      %tr
        %th.thumb 
        %th
          Title 
        %th
          Description
      - @docs.each do |d|
        %tr
          %td.thumb
            %a{ href: "/admin/docs/#{d.id}" }
              %img.pad-all{ src: "/images/icons/pdf.jpg" }
          %td
            %a{ href: "/admin/docs/#{d.id}" }
              = d.title
          %td
            = d.description

    %a.btn{ href: "/admin/docs/new "}
      Add new document